/* Home.module.css */

.home {
  margin: 1rem;
  padding: 20px;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Застосувати відступ віднизу до списку */
.movieList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; /* Відступ віднизу 20px */
}

.movieItem {
  /* Змінити колір тексту при наведенні на оранжевий */
  transition: color 0.3s;
  margin-bottom: 20px;
}


.movieItem:hover {
  color: orange;
}


.movieItem a:active {
  color: orange;
}


.movieList h1 {
  text-transform: uppercase;
}

.movieItem a {
  text-decoration: none !important;
  color: inherit; 
}
