.home {
  margin: 1rem;
  padding: 20px;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movieList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; 
}

.movieItem {
  transition: color 0.3s;
  margin-bottom: 20px;
}


.movieItem:hover {
  color: orange;
}


.movieItem a:active {
  color: orange;
}


.movieList h1 {
  text-transform: uppercase;
}

.movieItem a {
  text-decoration: none !important;
  color: inherit; 
}
